<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IPs" value="192.168.12.22,192.168.12.23" />
    <add key="LogPath" value="D:\log.txt" />
    <add key="TimerInterval" value="1000" />
  </appSettings>
</configuration>