<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0">
	<Sites>
		<add SiteName="Default" SiteId="051846fd-c3d2-47b3-b015-cdaef46f2ce3">
			<ApplicationSettings />
		</add>
		<add SiteName="Default" SiteId="09b6430d-3665-408e-811c-6cbb56231bdf">
			<ApplicationSettings />
		</add>
	</Sites>
</analyticsConfig>