<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0">
	<frontendThemes>
		<clear />
		<add namespace="Telerik.Sitefinity.Resources.Themes.Basic" assemblyInfo="Telerik.Sitefinity.Resources.Reference, Telerik.Sitefinity.Resources" name="Basic" />
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/ICE/App_Themes/ICE" name="ICE" />
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/Template1/App_Themes/Theme1" name="Theme1" />
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/CAI/App_Themes/CAI" name="CAI" />
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/CAIBaseTemplate/App_Themes/CAIBaseTemplate" name="CAIBaseTemplate" />
	</frontendThemes>
	<backendThemes>
		<clear />
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/CAI/App_Themes/Light" namespace="Telerik.Sitefinity.Resources.Themes.Light" assemblyInfo="Telerik.Sitefinity.Resources.Reference, Telerik.Sitefinity.Resources" name="Light" />
	</backendThemes>
</appearanceConfig>