<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0" encryptionKey="CDB3D62F37BBC1142E4028616FC7668CF76797205F18A010FDB8D2CFA56A72BF">
	<relyingPartySettings authCookieExpirationTime="60" />
	<securityTokenServiceSettings>
		<identityServerSettings cookieRememberMeDuration="3600" isPersistentDuration="3600">
			<identityServerClients>
				<add identityTokenLifetime="3600" authorizationCodeLifetime="3600" clientName="sitefinity" config:flags="1" />
			</identityServerClients>
		</identityServerSettings>
	</securityTokenServiceSettings>
</authenticationConfig>