<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5840.0" viewName="ProductsBackendMaster">
	<sidebar>
		<sections>
			<remove name="ManageAlso" />
			<remove name="Settings" />
			<section title="ManageAlso" titleWrapperTagKey="Unknown" wrapperTagId="manageAlsoSection" wrapperTagKey="Unknown" cssClass="sfWidgetsList sfSeparator" resourceClassId="EcommerceResources" visible="True" name="ManageAlso">
				<items>
					<item commandName="comments" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" cssClass="sfComments" text="CommentsForProducts" resourceclassid="EcommerceResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="ProductsComments" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
				</items>
			</section>
			<section title="SettingsForProducts" titleWrapperTagKey="Unknown" wrapperTagId="settingsSection" wrapperTagKey="Unknown" cssClass="sfWidgetsList sfSettings" resourceClassId="EcommerceResources" visible="True" name="Settings">
				<items>
					<item commandName="manageContentLocations" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" text="PagesWhereProductsArePublished" resourceclassid="EcommerceResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="ManageContentLocations" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
				</items>
			</section>
		</sections>
	</sidebar>
</view>