<?xml version="1.0" encoding="utf-8"?>
<catalogConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5840.0">
	<contentViewControls>
		<contentViewControl definitionName="ProductsBackendDefinitionName">
			<views>
				<config:lazy key="ProductsBackendMaster" configFile="CatalogConfig.contentViewControls.ProductsBackendDefinitionName.views.ProductsBackendMaster.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</catalogConfig>