<?xml version="1.0" encoding="utf-8"?>
<controlsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0">
	<viewMap>
		<viewSettings hostType="Telerik.Sitefinity.Modules.Newsletters.Web.UI.Public.SubscribeForm, Telerik.Sitefinity" layoutTemplatePath="~/SoftwareDesign/SoftwareDesign.Resources.SDTemplates.SubscribeForm.ascx" />
	</viewMap>
</controlsConfig>