<?xml version="1.0" encoding="utf-8"?>
<diagnosticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0">
	<tools>
		<add version="12.2.7232.0" errorMessage="Cannot open database &quot;EBusiness_Diagnostics&quot; requested by the login. The login failed.&#xD;&#xA;Login failed for user 'ICAIDUBLIN\EBizUser'." name="DataAccessProfiler" config:flags="1" />
		<add version="12.2.7232.0" name="HttpRequestsProfiler" config:flags="1" />
		<add version="12.2.7232.0" name="HttpHeadersProfiler" config:flags="1" />
		<add version="12.2.7232.0" name="BackgroundTasksProfiler" config:flags="1" />
		<add version="12.2.7232.0" name="PageCompilationsProfiler" config:flags="1" />
		<add version="12.2.7232.0" errorMessage="Telerik.OpenAccess.OpenAccessException: SQL exception on 'CREATE DATABASE EBusiness_Diagnostics' : CREATE DATABASE permission denied in database 'master'." name="RazorViewCompilationsProfiler" config:flags="1" />
		<add version="12.2.7232.0" errorMessage="Telerik.OpenAccess.OpenAccessException: SQL exception on 'CREATE DATABASE EBusiness_Diagnostics' : CREATE DATABASE permission denied in database 'master'." name="WidgetExecutionsProfiler" config:flags="1" />
		<add version="12.2.7232.0" errorMessage="Telerik.OpenAccess.OpenAccessException: SQL exception on 'CREATE DATABASE EBusiness_Diagnostics' : CREATE DATABASE permission denied in database 'master'." name="SystemOperationsProfiler" config:flags="1" />
		<add version="12.2.7232.0" name="SiteInitializationsProfiler" config:flags="1" />
		<add version="12.2.7232.0" errorMessage="Telerik.OpenAccess.OpenAccessException: SQL exception on 'CREATE DATABASE EBusiness_Diagnostics' : CREATE DATABASE permission denied in database 'master'." name="InsightsEngine" config:flags="1" />
	</tools>
</diagnosticsConfig>