<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0" viewName="TestimonialBackendList" config:flags="1">
	<sidebar>
		<sections>
			<section name="recycleBinWidget" config:flags="1">
				<items>
					<item navigateUrl="/Sitefinity/dashboard/RecycleBin#/filter/type/Telerik.Sitefinity.DynamicTypes.Model.Testimonials.Testimonial" name="ExternalLink2" config:flags="1" />
				</items>
			</section>
		</sections>
	</sidebar>
</view>