<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0">
	<notifications newPostNotificationTemplateId="53a5c64a-cb6a-447d-95d2-34cc27fce84e" newThreadNotificationTemplateId="289a003b-b29b-456e-9276-a7bad90caa22" />
</forumsConfig>