<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0" videoTag="Object">
	<images urlRoot="sf_images" allowUnsignedDynamicResizing="True" imageUrlHashAlgorithm="MD5">
		<thumbnails>
			<thumbnails>
				<add title="Thumbnail: 120 px by smaller side" Size="120" method="ResizeFitToSideArguments" default="True" name="thumbnail" config:flags="1" />
				<add title="Thumbnail: 200x200 px" MaxHeight="200" MaxWidth="200" Quality="Medium" method="ResizeFitToAreaArguments" name="thumb200" />
				<add title="Thumbnail: 160x160 px" MaxWidth="160" MaxHeight="160" ScaleUp="True" Quality="Medium" method="ResizeFitToAreaArguments" default="True" name="thumb160" />
				<add title="Thumbnail: 80x80 px" MaxHeight="80" MaxWidth="80" Quality="Medium" method="ResizeFitToAreaArguments" name="thumb80" />
				<add title="Thumbnail: 36x36 px" MaxHeight="36" MaxWidth="36" Quality="Medium" method="ResizeFitToAreaArguments" name="thumb36" />
			</thumbnails>
		</thumbnails>
	</images>
	<videos>
		<thumbnails>
			<thumbnails>
				<add default="False" name="vthumbnail" config:flags="1" />
				<add title="Thumbnail: 120 px by smaller side" Size="120" Quality="Medium" method="ResizeFitToSideArguments" default="True" name="thumbnail" />
			</thumbnails>
		</thumbnails>
	</videos>
	<blobStorage>
		<blobStorageTypes>
			<add providerType="Telerik.Sitefinity.Azure.BlobStorage.AzureBlobStorageProvider, Telerik.Sitefinity.Azure" title="WindowsAzure" description="BlobStorageAzureTypeDescription" resourceClassId="LibrariesResources" settingsViewTypeOrPath="Telerik.Sitefinity.Azure.BlobStorage.AzureBlobSettingsView" name="Azure" />
		</blobStorageTypes>
	</blobStorage>
	<mimeMappings>
		<add mimeType="text/css" fileExtension=".css" />
	</mimeMappings>
	<contentViewControls>
		<contentViewControl definitionName="ImagesBackend" config:flags="1">
			<views>
				<config:lazy key="ImagesBackendList" configFile="LibrariesConfig.contentViewControls.ImagesBackend.views.ImagesBackendList.config" configSource="FileSystem" />
				<config:lazy key="ImagesBackendEdit" configFile="LibrariesConfig.contentViewControls.ImagesBackend.views.ImagesBackendEdit.config" configSource="FileSystem" />
				<config:lazy key="ImagesBackendVersionPreview" configFile="LibrariesConfig.contentViewControls.ImagesBackend.views.ImagesBackendVersionPreview.config" configSource="FileSystem" />
				<config:lazy key="ImagesBackendPreview" configFile="LibrariesConfig.contentViewControls.ImagesBackend.views.ImagesBackendPreview.config" configSource="FileSystem" />
				<config:lazy key="ImagesBackendBulkEdit" configFile="LibrariesConfig.contentViewControls.ImagesBackend.views.ImagesBackendBulkEdit.config" configSource="FileSystem" />
				<config:lazy key="SingleImageUploadDetailsView" configFile="LibrariesConfig.contentViewControls.ImagesBackend.views.SingleImageUploadDetailsView.config" configSource="FileSystem" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="DocumentsBackend" config:flags="1">
			<views>
				<config:lazy key="DocumentsBackendEdit" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendEdit.config" configSource="FileSystem" />
				<config:lazy key="DocumentsBackendBulkEdit" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendBulkEdit.config" configSource="FileSystem" />
				<config:lazy key="DocumentsBackendVersionPreview" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendVersionPreview.config" configSource="FileSystem" />
				<config:lazy key="DocumentsBackendPreview" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendPreview.config" configSource="FileSystem" />
				<config:lazy key="SingleDocumentUploadDetailsView" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.SingleDocumentUploadDetailsView.config" configSource="FileSystem" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="BackendUserFileLibraryDocuments" config:flags="1">
			<views>
				<config:lazy key="BackendUserFileDocumentsBackendEditView" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileDocumentsBackendEditView.config" configSource="FileSystem" />
				<config:lazy key="BackendUserFileDocumentsBackendBulkEditView" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileDocumentsBackendBulkEditView.config" configSource="FileSystem" />
				<config:lazy key="BackendUserFileDocumentsVersionPreviewViewView" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileDocumentsVersionPreviewViewView.config" configSource="FileSystem" />
				<config:lazy key="BackendUserFileLibraryDocumentsPreviewViewName" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileLibraryDocumentsPreviewViewName.config" configSource="FileSystem" />
			</views>
		</contentViewControl>
	</contentViewControls>
	<providers>
		<add enableCommentsBackwardCompatibility="True" name="OpenAccessDataProvider" config:flags="1" />
		<add enableCommentsBackwardCompatibility="True" name="SystemLibrariesProvider" config:flags="1" />
	</providers>
</librariesConfig>