<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0" viewName="NewsBackendList" config:flags="1">
	<viewModes>
		<add Name="Grid" config:flags="1">
			<columns>
				<add clientTemplate="&lt;span&gt;{{ (PublicationDate) ? PublicationDate.sitefinityLocaleFormat('dd MMM, yyyy hh:mm'): '-' }}&lt;/span&gt;" headerText="Publication Date" titleText="PublicationDate" name="PublicationDate" type:this="Telerik.Sitefinity.Web.UI.ContentUI.Views.Backend.Master.Config.DataColumnElement, Telerik.Sitefinity" />
			</columns>
		</add>
	</viewModes>
</view>