<?xml version="1.0" encoding="utf-8"?>
<notificationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0">
	<profiles>
		<add defaultSenderEmailAddress="no-reply@charteredaccountants.ie" host="charteredaccountants-ie.mail.protection.outlook.com" useAuthentication="True" username="aleksei.jusev" password="[sf-scrt-rslvr=Encrypt]WkS6IekFYp8TkpNyNdUesM+YF5Q7xxTw5Nk28Gg4qr+okXv/4nayKh4AAAA=" profileName="Default" config:flags="1" />
		<add defaultSenderEmailAddress="no-reply@charteredaccountants.ie" host="appgrp1.icaidublin.local" batchSize="1" batchPauseInterval="100000" senderType="Telerik.Sitefinity.Services.Notifications.Smtp.SmtpSender" profileName="TEST" type:this="Telerik.Sitefinity.Services.Notifications.Configuration.SmtpSenderProfileElement, Telerik.Sitefinity.Services.Notifications.Impl" />
		<add defaultSenderEmailAddress="no-reply@charteredaccountants.ie" host="charteredaccountants-ie.mail.protection.outlook.com" senderType="Telerik.Sitefinity.Services.Notifications.Smtp.SmtpSender" profileName="FormNotification" type:this="Telerik.Sitefinity.Services.Notifications.Configuration.SmtpSenderProfileElement, Telerik.Sitefinity.Services.Notifications.Impl" />
		<add defaultSenderEmailAddress="no-reply@charteredaccountants.ie" host="appgrp1.icaidublin.local" domain="icaidublin.local" profileName="SystemConfigSmtpSettingsMigrated" type:this="Telerik.Sitefinity.Services.Notifications.Configuration.SmtpSenderProfileElement, Telerik.Sitefinity.Services.Notifications.Impl" />
	</profiles>
</notificationsConfig>