<?xml version="1.0" encoding="utf-8"?>
<pagesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0" homePageId="fd0156fb-7684-4450-8f60-dfc08033fbd0" defaultFrontendTemplateId="da060148-08b3-649f-a7d8-ff000079c5aa" defaultBackendTemplateId="f669d9a7-009d-4d83-cccc-000000000001" compressScriptsFrontEnd="Forced" enableBrowseAndEdit="True" pageTemplatesFrameworks="All">
	<Compilation AuthKey="khgcvjytyutfi786rt876tf" />
	<errorPages mode="Disabled" />
</pagesConfig>