<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0" projectName="Ebusiness" dateCreated="2012-08-31 13:17:47Z">
	<defaultSite id="051846fd-c3d2-47b3-b015-cdaef46f2ce3" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" homePageId="c6080148-08b3-649f-a7d8-ff000079c5aa" frontEndLoginPageUrl="http://prod-01.charteredaccountants.ie/Login.aspx" />
</projectConfig>