<?xml version="1.0" encoding="utf-8"?>
<searchConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0" currentSearchService="ElasticsearchService">
	<contentViewControls>
		<contentViewControl definitionName="SearchBackend" config:flags="1">
			<views>
				<view viewName="SearchBackendEdit" config:flags="1">
					<sections>
						<sections name="PipeSettingsSectionInbound" config:flags="1">
							<fields>
								<field showContentLocation="True" fieldName="InboundSettings" config:flags="1" />
							</fields>
						</sections>
					</sections>
				</view>
			</views>
		</contentViewControl>
	</contentViewControls>
	<searchServices>
		<add luceneServiceIndexFolder="" excludeContentAgeFromScoreCalculation="true" name="LuceneSearchService" config:flags="1" />
		<add elasticUri="http://elastic-test.icaidublin.local:9200" name="ElasticsearchService" config:flags="1" />
		<add AccessKey="" ApiVersion="2013-01-01" SearchEndPoint="" DocumentEndPoint="" SecretAccessKey="" Region="" title="AmazonSearchServiceTitle" resourceClassId="AmazonResources" typeName="Telerik.Sitefinity.AmazonCloudSearch.AmazonSearchService" name="AmazonSearchService" />
	</searchServices>
</searchConfig>