<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0" authCookieName=".SFAUTH-Ebusiness" rolesCookieName=".SFROLES-Ebusiness" validationKey="05FB6CF04826C644FE1A05887F71B6883F9A365B0C5B77423D0055170DA8C54A5521ECB7D9ED00AEE7076D0AB4E672371D7261FF86ABF6963D8D6E8E08AAA365" decryptionKey="9E7976692F1596F132B20B1A0ED93F2DC65D43BDCCD7B4D0B745244CDC25CBEF" loggingCookieName=".SFLOG-Ebusiness" disableHtmlSanitization="True">
	<notifications senderProfile="SystemConfigSmtpSettingsMigrated" />
	<securityTokenIssuers>
		<add key="DC811F3C64223CB1246A7AA4DDF3EC372E40F7EFC5655956E50834262B6CF69A" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="DC811F3C64223CB1246A7AA4DDF3EC372E40F7EFC5655956E50834262B6CF69A" realm="http://localhost" />
	</relyingParties>
	<permissions>
		<config:link name="Blog" path="blogsConfig/permissions/Blog" module="Blogs" />
		<config:link name="BlogPost" path="blogsConfig/permissions/BlogPost" module="Blogs" />
		<config:link name="List" path="listsConfig/permissions/List" module="Lists" />
		<config:link name="ListItem" path="listsConfig/permissions/ListItem" module="Lists" />
		<permission title="ForumGroupPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" name="ForumGroup">
			<actions>
				<add title="CreateForumGroupAction" description="CreateForumGroupActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateGroup" />
				<add title="ModifyForumGroupAction" description="ModifyForumGroupActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyGroup" />
				<add title="DeleteForumGroupAction" description="DeleteForumGroupActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteGroup" />
				<add title="ChangeGroupPermissionsAction" description="ChangeGroupPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="ForumPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" name="Forum">
			<actions>
				<add title="ViewForumAction" description="ViewForumActionDescription" resourceClassId="ForumsResources" type="View" name="ViewForum" />
				<add title="CreateForumAction" description="CreateForumActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateForum" />
				<add title="ModifyForumAction" description="ModifyForumActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyForum" />
				<add title="DeleteForumAction" description="DeleteForumActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteForum" />
				<add title="CreateThreadAction" description="CreateThreadActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateThread" />
				<add title="ModifyThreadAction" description="ModifyThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyThread" />
				<add title="ManageThreadAction" description="ManageThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ManageThread" />
				<add title="DeleteThreadAction" description="DeleteThreadActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteThread" />
				<add title="CreatePostAction" description="CreatePostActionDescription" resourceClassId="ForumsResources" type="Create" name="CreatePost" />
				<add title="ModifyPostAction" description="ModifyPostActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyPost" />
				<add title="DeletePostAction" description="DeletePostActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeletePost" />
				<add title="ChangeForumPermissionsAction" description="ChangeForumPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Dynamic field permissions" description="Represents the permissions for dynamic fields." name="DynamicFields">
			<actions>
				<add title="View {0}" description="Allows or denies viewing a dynamic field." type="View" name="View" />
				<add title="Modify {0}" description="Allows or denies changes to existing dynamic field." type="Modify" name="Modify" />
				<add title="Change a {0} permissions" description="Allows or denies changing the permissions of a dynamic field." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<config:link name="ABTests" path="aBTestingConfig/permissions/ABTests" module="ABTesting" />
	</permissions>
	<customPermissionsDisplaySettings>
		<customSet setName="General" config:flags="1">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" path="newsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" module="News" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Events.Model.Event" path="eventsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Events.Model.Event" module="Events" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Blog">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/Blog/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="BlogPost">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.BlogPost" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.BlogPost" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="List">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/List/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ListItem">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
				<config:link typeName="Telerik.Sitefinity.Lists.Model.ListItem" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.ListItem" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ForumGroup">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.ForumGroup">
					<customSecurityActions>
						<customSecurityAction name="CreateGroup" />
						<customSecurityAction showActionInList="True" title="ModifyThisGroupAction" resourceClassId="ForumsResources" name="ModifyGroup" />
						<customSecurityAction showActionInList="True" title="DeleteThisGroupAction" resourceClassId="ForumsResources" name="DeleteGroup" />
						<customSecurityAction showActionInList="True" title="ChangeThisGroupPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Forum">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.Forum">
					<customSecurityActions>
						<customSecurityAction name="CreateForum" />
						<customSecurityAction showActionInList="True" title="ViewThisForumAction" resourceClassId="ForumsResources" name="ViewForum" />
						<customSecurityAction showActionInList="True" title="ModifyThisForumAction" resourceClassId="ForumsResources" name="ModifyForum" />
						<customSecurityAction showActionInList="True" title="DeleteThisForumAction" resourceClassId="ForumsResources" name="DeleteForum" />
						<customSecurityAction showActionInList="True" title="ChangeThisForumPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
	</customPermissionsDisplaySettings>
	<applicationRoles>
		<role id="dc7ff59d-fcbc-4711-96db-8535a51d3c3b" name="Everyone" config:flags="1" />
		<role id="8af68cc2-b1d5-44a4-a2c2-75233b662c66" name="Anonymous" config:flags="1" />
		<role id="be3020a6-0c3d-46ba-b352-ed0d666c7d5e" name="Authenticated" config:flags="1" />
		<role id="83ffd3a1-5d3a-4a1a-aa6c-2de67a9fca2c" name="Owner" config:flags="1" />
		<role id="184d1e59-1809-4298-aed0-4596fb41c730" name="Administrators" config:flags="1" />
		<role id="f8765057-89de-41b6-9263-76860ab831a0" name="BackendUsers" config:flags="1" />
		<role id="5966d4a5-d202-4174-ae97-bf4fd68667db" name="Authors" config:flags="1" />
		<role id="9f53d300-6f31-4ba6-a8ef-87c54e67a24b" name="Editors" config:flags="1" />
		<role id="e91836ef-847e-43bf-a334-1d9498266fb0" name="Designers" config:flags="1" />
		<role id="82683d2f-b54b-4096-bf1d-32735252e623" name="Users" config:flags="1" />
	</applicationRoles>
	<membershipProviders>
		<add enablePasswordReset="true" recoveryMailAddress="no-reply@charteredaccountants.ie" name="Default" config:flags="1" />
		<config:link name="OpenAccessMembership37Provider" path="migrationModuleConfig/membershipProviders/OpenAccessMembership37Provider" module="Migration" />
	</membershipProviders>
</securityConfig>