<?xml version="1.0" encoding="utf-8"?>
<sitemapConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0">
	<siteConfigs>
		<add siteName="default" lastExecutionTime="2019-09-05T13:53:19.8146269Z" pingGoogle="False" pingBing="False" siteId="051846fd-c3d2-47b3-b015-cdaef46f2ce3" />
	</siteConfigs>
</sitemapConfig>