<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7232.0">
	<servicesModules>
		<add name="Search" />
	</servicesModules>
	<applicationModules>
		<add startupType="Disabled" name="Multisite" config:flags="1" />
		<add startupType="Disabled" name="Personalization" config:flags="1" />
		<add type="Telerik.Sitefinity.Audit.Elasticsearch.ElasticsearchAuditModule, Telerik.Sitefinity.Audit.Elasticsearch, Version=8.1.5800.0, Culture=neutral, PublicKeyToken=4d437ae15f42fd43" name="ElasticsearchAudit" config:flags="1" />
		<add startupType="OnApplicationStart" name="Diagnostics" config:flags="1" />
		<add startupType="Disabled" name="Ecommerce" config:flags="1" />
		<add startupType="Disabled" name="MarketoConnector" config:flags="1" />
		<add startupType="Disabled" name="SalesForceConnector" config:flags="1" />
		<add startupType="Disabled" name="SharepointConnector" config:flags="1" />
		<add startupType="Disabled" name="Translations" config:flags="1" />
		<add startupType="Disabled" name="WebSecurity" config:flags="1" />
	</applicationModules>
	<smtpSettings host="charteredaccountants-ie.mail.protection.outlook.com" domain="icaidublin.local" DefaultSenderEmailAddress="no-reply@charteredaccountants.ie" />
	<loadBalancingConfig>
		<parameters>
			##NLBSERVER1##
			##NLBSERVER2##
		</parameters>
		<handlers>
			<add value="Telerik.Sitefinity.Diagnostics.LoadBalancing.ReloadToolMessageHandler" />
		</handlers>
	</loadBalancingConfig>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.WidgetElement, Telerik.Sitefinity" config:key="2" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.ProductTypeFilterWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.ProductOtherFilterOptionsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Widgets.OrderStatusFilterWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.FilterProductsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Widgets.NavigateToTaxLogsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.ThreadsViewMasterElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ForumsViewMasterElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsListViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.CalendarViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsViewDetailElement, Telerik.Sitefinity.ContentModules" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity" config:key="4" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.CreateVariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.VariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.OrderFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.CustomerFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.PaymentMethodSettingsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.InventoryFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.DependentFieldDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity" config:key="5" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.CreateVariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.VariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.OrderFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.CustomerFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.PaymentMethodSettingsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.InventoryFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.DependentFieldDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.AuthenticationProviderElement, Telerik.Sitefinity.Authentication">
			<implementations>
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.WindowsAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.AdfsAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.FacebookAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.GoogleAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.MicrosoftAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.TwitterAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.LinkedInAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.GitHubAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.OpenIDConnectAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.Api.Configuration.TypeSettings, Telerik.Sitefinity.Web.Api">
			<implementations>
				<add type="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.CustomStrategyTypeSettings, Telerik.Sitefinity.Web.Api" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.Api.Configuration.PropertyMapping, Telerik.Sitefinity.Web.Api">
			<implementations>
				<add type="Telerik.Sitefinity.Web.Api.Configuration.CalculatedPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.NavigationPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.ComplexPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.Properties.ClassPropertyMapping, Telerik.Sitefinity.Web.Api" />
			</implementations>
		</add>
	</typeImplementationsMapping>
	<siteUrlSettings replaceSiteUrl="True" siteUrl="##DEFAULTSITEURL##" />
	<outputCacheSettings defaultOutputCacheProvider="SQLServer" />
	<contentLocationsSettings enabled="True" enableSingleItemModeWidgetsBackwardCompatibilityMode="True">
		<pageDefaultCanonicalUrlSettings>
			<allowedCanonicalUrlQueryStringParameters>
				<add parameterName="ID" />
			</allowedCanonicalUrlQueryStringParameters>
		</pageDefaultCanonicalUrlSettings>
	</contentLocationsSettings>
	<seoAndOpenGraphConfig enabledSEO="False" enabledOpenGraph="False" />
</systemConfig>