<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Aptify.Framework.ObjectRepository.AptifyObjectRepository.DefaultObjectCachePath" value="##PHYSICALPATH##" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="AptifyDBServer" value="##AptifySV##" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="AptifyEntitiesDB" value="##APTIFYDB##" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="AptifyUsersDB" value="##APTIFYDB##" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="AptifyEBusinessSQLLogin" value="##DBUSER##" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="AptifyEBusinessSQLPWD" value="##DBPWD##" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
	<location path="Sitefinity" xdt:Locator="Match(path)">
		<system.webServer>
			<security>
				<!-- deny everybody  -->
				<ipSecurity enableProxyMode="true" allowUnlisted="false">
					<!-- "clear" removes all upstream restrictions  -->
					<clear />
					<!-- permit the loopback address   -->
					<add ipAddress="127.0.0.1" allowed="true" />
					<!-- NLB IP ADDRESS  -->
					<add ipAddress="##NBLSVIP1##" allowed="true" />
					<add ipAddress="##NBLSVIP2##" allowed="true" />
					<add ipAddress="##NBLPUBLICIP##" allowed="true" />
					<!-- END OF NLB IP  -->
					<!-- ALLOW SINGLE IP  -->
					<add ipAddress="86.41.126.47" allowed="true" />
					<!-- Total Digital Office (main network)  -->
					<add ipAddress="84.203.208.239" allowed="true" />
					<!-- Total Digital Office (emergency network)  -->
					<!-- permit network 83.116.119.0 to 83.116.119.255  -->
					<add ipAddress="83.116.119.0" subnetMask="255.255.255.0" allowed="true"/>
					<add ipAddress="10.1.1.0" subnetMask="255.255.255.0" allowed="true" />
					<add ipAddress="10.1.20.0" subnetMask="255.255.255.0" allowed="true" />
					<add ipAddress="10.2.20.0" subnetMask="255.255.255.0" allowed="true" />
					<add ipAddress="192.168.0.0" subnetMask="255.255.0.0" allowed="true" />
					<!-- VPN Settings  -->
				</ipSecurity>
			</security>
		</system.webServer>
	</location>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>