<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the  
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config   
-->
<configuration>
    <configSections>
    </configSections>
    <appSettings>
    </appSettings>
    <system.web>
      <httpRuntime maxRequestLength="2097151" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" executionTimeout="15000" />
      <membership defaultProvider="Default">
        <providers>
          <clear />
        </providers>
      </membership>
      <compilation debug="true" targetFramework="4.5" numRecompilesBeforeAppRestart="50">
        <assemblies>
          <clear/>
        </assemblies>
        <buildProviders>
          <clear/>
        </buildProviders>
      </compilation><customErrors mode="Off" />
      <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
      <pages theme="CAI" controlRenderingCompatibilityVersion="4.0">
      </pages>
      <httpHandlers>
        <clear/>
      </httpHandlers>
      <httpModules>
        <clear/>
      </httpModules>
    </system.web>
    
    <system.serviceModel>
      
    </system.serviceModel>

    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true">
        <remove name="WebDAVModule" />
        <remove name="UrlRoutingModule" />
        <remove name="ScriptModule" />
        <remove name="RadUploadModule" />
        <remove name="Sitefinity" />
        <remove name="SitefinityAnalyticsModule" />
        <remove name="FormsAuthentication" />
        <remove name="RoleManager" />
        <remove name="ClaimsPrincipalHttpModule"/>
        <remove name="SitefinityClaimsAuthenticationModule"/>
        <remove name="Sitefinity"/>
        <remove name="SessionAuthenticationModule"/>
        <remove name="ScriptModule"/>
        <remove name="RadUploadModule"/>
        <remove name="SitefinityAnalyticsModule"/>
        <remove name="EBusinessHttpModule" />
        <remove name="EBusinessHttpModule"/>
        <remove name="SDHttpModule"/>
      </modules>
      <handlers>
        <clear/>
      </handlers>
      <staticContent>
        <clear/>
      </staticContent>
      <security>
        
      </security>
      <rewrite>
        <outboundRules>
          <clear/>
          <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
            <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script, CustomTags"
                   customTags="additionalTags" pattern="^/(.*)" negate="false" />
            <action type="Rewrite" value="/study/{R:1}" />
          </rule>
          <rule name="ReverseProxyOutboundRule2" preCondition="ResponseIsHtml1">
            <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script, CustomTags"
                   customTags="additionalTags" pattern="^http(s)?://charteredcareers.lightboxdigital.ie(.*)" />
            <action type="Rewrite" value="/study{R:2}" />
          </rule>
          <rule name="ReverseProxyOutboundRule3" preCondition="ResponseIsHtml1">
            <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script, CustomTags"
                   customTags="additionalTags" pattern="^background-image:url\(http(s)?://charteredcareers.lightboxdigital.ie(.*)" />
            <action type="Rewrite" value="background-image:url(/study{R:2}" />
          </rule>
          <rule name="ReverseProxyOutboundRule4" preCondition="ResponseIsHtml1">
            <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script, CustomTags"
                   customTags="additionalTags" pattern="^background-image:\surl\(http(s)?://charteredcareers.lightboxdigital.ie(.*)" />
            <action type="Rewrite" value="background-image: url(/study{R:2}" />
          </rule>
          <rule name="ReverseProxyOutboundRule0" preCondition="ResponseIsHtml1">
            <match filterByTags="None" pattern="^charteredcareers.lightboxdigital.ie(.*)" />
            <action type="Rewrite" value="study{R:2}" />
          </rule>
          <rule name="ReverseProxyOutboundRule01" preCondition="ResponseIsHtml1">
            <match pattern="^(.*)http(s)?://charteredcareers.lightboxdigital.ie(.*)" />
            <action type="Rewrite" value="{R:1}//dev.charteredaccountants.ie/study{R:3}" />
          </rule>
          <rule name="ReverseProxyOutboundRule02" preCondition="ResponseIsHtml1">
            <match pattern="^(.*)//charteredcareers.lightboxdigital.ie(.*)" />
            <action type="Rewrite" value="{R:1}//dev.charteredaccountants.ie/study{R:2}" />
          </rule>
          <rule name="ReverseProxyOutboundRule03" preCondition="ResponseIsHtml1">
            <match pattern="^(.*)charteredcareers.lightboxdigital.ie(.*)" />
            <action type="Rewrite" value="{R:1}dev.charteredaccountants.ie/study{R:2}" />
          </rule>
          <rule name="ReverseProxyOutboundRule04" preCondition="ResponseIsHtml1">
            <match pattern="^(.*)charteredcareers.lightboxdigital.ie(.*)" />
            <action type="Rewrite" value="{R:1}dev.charteredaccountants.ie/study{R:2}" />
          </rule>
          <rule name="ReverseProxyOutboundRule05" preCondition="ResponseIsHtml1">
            <match pattern="^(.*)charteredcareers.lightboxdigital.ie(.*)" />
            <action type="Rewrite" value="{R:1}dev.charteredaccountants.ie/study{R:2}" />
          </rule>
          <rule name="ReverseProxyOutboundRule6" preCondition="ResponseIsHtml1">
            <match pattern="^(.*)/study//(.*)" />
            <action type="Rewrite" value="{R:1}//{R:2}" />
          </rule>
          <customTags>
            <tags name="additionalTags">
              <tag name="meta" attribute="content" />
              <tag name="script" attribute="src" />
              <tag name="div" attribute="style" />
              <tag name="span" attribute="style" />
            </tags>
          </customTags>
          <preConditions>
            <preCondition name="ResponseIsHtml1">
              <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
            </preCondition>
          </preConditions>
        </outboundRules>


        <rules>
          <clear />
          <rule name="Route the requests for Chartered Careers" stopProcessing="true">
            <match url="^(.*)" />
            <conditions>
              <add input="{CACHE_URL}" pattern="^(https?)://" />
            </conditions>
            <action type="Rewrite" url="{C:1}://charteredcareers.lightboxdigital.ie/{R:1}" />
            <serverVariables>
              <set name="HTTP_ACCEPT_ENCODING" value="" />
            </serverVariables>
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
    <microsoft.identityModel>
      <service>
        <clear/>
      </service>
    </microsoft.identityModel>
</configuration>
